ul#legend {
    margin: 5px;
    margin-top: 10px;
    list-style-type: none;
}
ul#legend li img {
    position: absolute;
    margin-left: -25px;
    margin-top: -2px;
}
ul#legend li {
    height: 20px;
}
