div#legend {
    border: 1px solid #2e2ad3;
    width: 300px;
    padding: 0px;
    margin: 10px;
    font-family: verdana, sans-serif;
    font-size: 8pt;
}
div#legend h2 {
    margin: 0px;
    padding: 2px 5px;
    background-color: #229dff;
}
div#legend ul {
    margin: 5px;
    margin-top: 10px;
    list-style-type: none;
}
div#legend ul li img {
    position: absolute;
    margin-left: -25px;
    margin-top: -2px;
}
div#legend ul li {
    height: 20px;
}
