[% PROCESS header.tt %]
<ul>
    <li>Mime-type: [% object.type.type %]</li>
    <li>Imager-support: [% object.type.check_imager %]</li>
    <li>"[% object.uri_for(c, "thumb") %]"</li>
</ul>
[% form %]
[% PROCESS footer.tt %]