<title>EasyCMS2 Help index</title>

<p>EasyCMS2 should be quite easy to use.</p>
<h3>Help topics</h3>
<ul>
    <li><a id="legend">Icon legend</a></li>
    <li><a id="concepts">EasyCMS2 concepts</a></li>
</ul>